body{
    background-color: gold;
    color:rgb(255, 138, 5);
    font-family: sans-serif;
    margin-top: 0px;
}
header {border-bottom: solid 4px red;
padding: 10px;
font-size: 32px;
color:goldenrod
}